.wizard-progress-nav {
    background: white;
    border-radius: 15px;
    max-width: 666px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 150px;
    margin: 0 auto;
}

.wizard-progress-group {
    text-align: center;
    vertical-align: middle;
    display: contents;
}

.wizard-progress-item {
  position: relative;
  margin: 0 5%;
  .wizard-progress-icon {
    color: gray;
  }
  .wizard-progress-icon.active {
    color: blue;
  }

  .wizard-progress-icon.done {
    color: green;
  }
  .wizard-progress-icon:before {
    content: "\2610"
  }
  .wizard-progress-icon.active:before {
    content: "\2610"
  }

  .wizard-progress-icon.done:before {
    content: "\2611"
  }

  .wizard-progress-text {
    margin-top: 10px;
    color: gray;
  }
  .wizard-progress-text.active {
    color: blue;
  }
}

.wizard-progress-icon:after {
  content: ' ';
  width: 65px;
  left: 100%;
  position: absolute;
  border: 1px solid #BEC4CC;
  top: 8px;
  border-radius: 10px;
}
@media only screen and (max-width: 500px) {
  .wizard-progress-icon:after {
    width: 35px;
  }
}
.wizard-progress-item:last-child {
  .wizard-progress-icon:after {
    display: none;
  }
}